/*
  Version: 1.0.0
 */


 /**************************
          M A I N
***************************/

html {
  font-family: "Roboto";
}

body {
  background: #ececec;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/**************************
        F A R B E N
***************************/

.garntante-text {
    color: #D2615F !important;
}

.garntante {
    background-color: #D2615F !important;
}

/**************************
    N A V I G A T I O N
***************************/

nav {
    background-color: white;
}

nav ul a {
    color: black;
}

nav .brand-logo {
    color: black;
}

.unclickable a:hover {
     cursor: not-allowed;
}

/**************************
       F O O T E R
***************************/

.footer_nav {
  list-style-type: none;
  display: inline;
}

.footer_nav li {
  display: inline;
  padding-left: 20px;
}

.footer_nav a {
  color: white;
}

/**************************
         K A R T E
***************************/

#map-canvas {
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 15px;
}

/**************************
          T E X T
***************************/

small {
    font-size: 60%;
}

blockquote {
    border-left: 5px solid #D2615F;
}

h2, h3, h4 {
    font-weight: 100;
}

h5 {
  font-weight: 90;
}

.caption-title {
    font-size: 2rem;
    font-weight: 300;
}

.caption {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 30px;
}

/**************************
  I N P U T F E L D E R
***************************/

.card-content .row {
    margin-bottom: 0px;
}

.input-field input[type=text]:focus+label, .input-field input[type=email]:focus+label {
    color: #D2615F;
}

.input-field textarea.materialize-textarea:focus+label {
    color: #D2615F;
}

.input-field input[type=text]:focus, .input-field input[type=email]:focus {
    border-bottom: 1px solid #D2615F;
    box-shadow: 0 1px 0 0 #D2615F;
}

.input-field textarea.materialize-textarea:focus {
    border-bottom: 1px solid #D2615F;
    box-shadow: 0 1px 0 0 #D2615F;
}
